<div class="container">
  <h1>User Form</h1>
  <form>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="user.firstName" name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="user.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="email">Email Id</label>
      <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email">
    </div>
    <button type="submit" class="btn btn-default" (click)="entereduser(user)">Submit</button>
   </form>
 </div>
